@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.chooseYourSide {
    height: 53.75rem;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-content: center;
    &__inner{    
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        box-sizing: border-box;
        height: 100%;
        width: 100%;
        &--light {
            background-color: $jediWhite;
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 1.5rem;
            a {
                text-decoration: none;
                color: #00009A;
            }
        }
        &--absolute {
            position: absolute;
            display: flex;
            justify-content: center;
            width: 100%;
            color: #00009A;
            font-size: 2rem;
            &--right {
                margin-left: -1.5rem;
                color: $sithRed;
            }
        }
        &--dark {
            background-color: $vaderBlack;
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 1.5rem;
            a {
                text-decoration: none;
                color: $sithRed;
            }
        }
    }
}

h2 {
    z-index: 9999;
}

h1 {
    padding-right: 1.5rem;
}