/* COLORS */

/* DARK SIDE */

$vaderBlack: #0A0A0A;
$imperialGray: #4B4B4B;
$sithRed: #D32F2F;
$armorSilver: #C0C0C0;
$darkSideBlue: #303F9F;
$lifeSupportGreen: #00C853;

/* LIGHT SIDE */

$jediWhite: #F5F5F5;
$skywalkerBlue: #1976D2;
$tatooineSand: #FFD54F;
$nabooGreen: #4CAF50;
$hothIce: #B3E5FC;
$rebelRed: #E53935;

/* BREAK POINTS */

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;